footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

footer img {
    max-width: 100px;
}

@media screen and (max-width: 767px) {
  footer {
    flex-wrap: wrap;
  }
}
